body{
    background: #2f4f4f
}

#app{
    font-family: 'Avenir', 'Helvetica', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: white;
    margin-top: 10%;
}

.character-card{
    border: 2px solid #90ee90;
    border-radius: 5px;
    cursor: pointer;
}