body{
    background: #2f4f4f
}

#app{
    font-family: 'Avenir', 'Helvetica', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: white;
    margin-top: 10%;
}

.link, .link:hover, .link:active, .link:visited{
   color: #00ffff;
}

.item-card{
    border: 2px solid #90ee90;
    border-radius: 5px;
    padding: 1%;
    margin: 5%;
    cursor: pointer;
}