body{
    background: #87cefa;
}

#app{
    font-family: 'Avenir', 'Helvetica', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #00008b;
    margin-top: 10%;
}

.signOut-btn{
    position: absolute;
    top: 60px;
    text-align: right;
}

.form{
    padding: 0 10% ;
}

.event-card{
    border: 2px solid blue;
    margin-top: 10px;
    border-radius: 10px;
}